<header class="topbar">
    <div class="topbar-title">
        <img src="~/imgs/teamflow.png" alt="TeamFlow" class="topbar-logo" />
    </div>
    <div class="topbar-actions">
        <div class="avatar dropdown">
            <span class="avatar-btn">U</span>
        </div>
    </div>
</header>
